@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

body {
  max-width: 42em;
  padding: 0 25px;
  margin: 0 auto;
  font: 15px/1.6 Merriweather,Georgia,serif;
  background-color: #fafafa;
  color: #38444a;
}
.header {
  font-size: 13px;
  line-height: 1.3;
  border-bottom: 3px double #aaa;
  text-align: center;
}
.home {
  font-size: 14px;
  line-height: 1.4;
}
a {
  color: #3d98e5;
}
form {
  margin-bottom: 20px;
}
input {
  width: 150px;
  font-size: 15px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #aaa;
}
button {
  background: #3d98e5;
  color: #fafafa;
  border: 0;
  padding: 6px 10px;
  font-size: 15px;
}
.footer {
  font-size: 11px;
}

@media only screen and (min-width: 50em) {
  body {
    font: 20px/1.75 Merriweather,Georgia,serif;
  }
  .header {
    font-size: 16px;
    line-height: 1.1;
  }
  .home {
    font-size: 18px;
    line-height: 1.4;
  }
}
